body {
    margin: 0;
    padding: 0;
    background-image: url("image/pexels-valeria-boltneva-1484516.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre */
    height: 150px;
}
.nav-link{
    font-size: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    



}

.text-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-align: center;
}

